{% extends 'user_management/auth_form_base.html' %}
{% load crispy_forms_filters %}

{% block title %}Login{% endblock %}

{% block header %}Login{% endblock %}

{% block form_container %}
    <form action="{% url 'user_management:login' %}" method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <div>
            <input type="submit" value="Sign In" class="btn btn-primary"/>
        </div>
    </form>
    <div class="text-right">
        Dont have an account?
        <a href="{% url 'user_management:signup' %}" class="text-secondary">Click here to sign up</a>.
    </div>
    {% if error_message %}
        <div style="color: red">{{ error_message }}</div>
    {% endif %}
{% endblock %}