{{ form.non_filed_errors }}
<div class="field-wrapper">
    <label for="{{ form.score.id_for_label }}">Score: </label>
    <input type="text" id="{{ form.score.id_for_label }}"
           name="{{ form.score.html_name }}"
           class="form-control"
           value="{{ form.score.value|default_if_none:'' }}"
    />
    <span class="text-danger">{{ form.score.errors }}</span>
</div>

<div class="field-wrapper">
    <label for="{{ form.comment.id_for_label }}">Comment: </label>
    <textarea
            id="{{ form.comment.id_for_label }}"
            name="{{ form.comment.html_name }}"
            maxlength="{{ form.comment.field.max_length }}"
            class="form-control"
    >
            {{ form.comment.value|default_if_none:'' }}
    </textarea>
    <span class="text-danger">{{ form.comment.errors }}</span>

</div>