{{ form.non_filed_errors }}
<div class="field-wrapper">
    <label for="{{ form.name.id_for_label }}">Name: </label>
    <input type="text" id="{{ form.name.id_for_label }}"
           name="{{ form.name.html_name }}"
           maxlength="{{ form.name.field.max_length }}"
           class="form-control"
           value="{{ form.name.value|default_if_none:'' }}"
    />
    <span class="text-danger">{{ form.name.errors }}</span>
</div>

<div class="field-wrapper mt-2">
    <label for="{{ form.description.id_for_label }}">Description: </label>
    <textarea
            id="{{ form.description.id_for_label }}"
            name="{{ form.description.html_name }}"
            maxlength="{{ form.description.field.max_length }}"
            class="form-control"
    >{{ form.description.value|default_if_none:'' }}</textarea>
    <span class="text-danger">{{ form.comment.errors }}</span>

</div>