{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block head_extra %}

    {% endblock %}
    <title>
        {% block title %}
            Reviews App
        {% endblock %}
    </title>
</head>
<body>
<div id="body-container">
    {% block sidebar %}
        <div id="sidebar" class="border-right">
            <a class="sidebar-button shadow-sm" href="{% url 'reviews:places_all' %}">
                <i class="fa fa-home"></i>
                <span>Home</span>
            </a>
            <a class="sidebar-button shadow-sm" href="{% url 'user_management:logout' %}">
                <i class="fa fa-sign-out"></i>
                <span>Sign Out</span>
            </a>
        </div>
    {% endblock %}
    <div id="main-container" class="px-4">
        <div id="content-header">
            <h2>{% block header %}{% endblock %}</h2>
        </div>
        <div id="content">
            {% block content %}

            {% endblock %}
        </div>
    </div>

</div>

</body>
</html>